/* ================================================================================================
* Reset Styles
*	Eric Meyer's Reset CSS -- http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
* ================================================================================================
*/

@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

*
{
/* Safari seems to ignore a lot of the reset style sheet and I am not sure why. this stuff overrides where I need it to */
margin: 0;
padding: 0;
font-weight: normal;
}
/* TBB: in IE6 (and maybe IE7?), an explicit setting for
 * vertical-align: breaks <img align="left">. Strange
 * but true. align="left" is an anachronism but 
 * Study Abroad is using it courtesy of FCK's image editor
 */
img
{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
/* vertical-align: baseline; */
}
/* remember to define focus styles! */
:focus
{
outline: 0;
}
body
{
line-height: 1;
color: black;
background: white;
}
ol, ul
{
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table
{
border-collapse: separate;
border-spacing: 0;
}
caption, th, td
{
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after
{
content: "";
}
blockquote, q
{
quotes: "" "";
}

body
{
font: 12px/1.2 arial, sans-serif;
font-size: 12px;
}

/* == */
/* == Buttons and Icons */
/* == */

a.pk-btn,
span.pk-btn
{
position: relative;
float: left;
display: inline;
color: #fff !important;
background-color: transparent;
text-decoration: none !important;
font-size: 12px;
}

a.pk-btn:hover,
a.pk-btn:hover span,
a.pk-btn.icon:hover
{
background-color: #888;
text-decoration: none !important;
}

.pk-i
{/* background color for buttons */
	position:absolute;
top: 0;
left: 0;
z-index: 0;
width: 100%;
height: 20px;
display: block;
background-color: #ac3;
float: left;
margin: 0;
}

#pk-login .pk-i
{
background-color: #666;
}

a.pk-btn .pk-b
{
position: relative;
float: left;
display: inline;
z-index: 2;
color: #fff;
padding: 0 4px;
white-space: nowrap;
text-transform: capitalize;
height: 20px;
line-height: 20px;
}

a.pk-btn.icon .pk-b
{
padding: 0 4px 0 20px;
background-position: top left;
background-repeat: no-repeat;
}

a.icon.pk-feed .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-feed.png);
}

a.icon.pk-video .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-video.png);
}

a.icon.pk-image .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-photo.png);
}

a.icon.pk-slideshow .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-slideshow.png);
}

a.icon.pk-richtext .pk-b,
a.icon.pk-text .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-text.png);
}

a.icon.pk-add .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-add.png);
}

a.icon.pk-history .pk-b,
a.icon.pk-history-revert .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-history.png);
}

a.pk-cancel .pk-b
{
background-color: #ccc;
background-image: url(/pkToolkitPlugin/images/pk-icon-cancel.png);
}

a.pk-cancel:hover .pk-b
{
background-color: #000;
}

a.icon.pk-settings .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-settings.png);
}

a.icon.pk-templates .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-templates.png);
}

a.icon.pk-users .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-users.png);
}

a.icon.pk-media .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-media.png);
}

a.icon.pk-download .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-download.png);
}

a.icon.pk-edit .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-edit.png);
}

a.icon.pk-drag .pk-b,
div.icon.pk-drag .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-drag.png);
background-position: center center;
background-repeat: no-repeat;
text-indent: -9999px;
width: 20px;
height: 20px;
padding: 0;
cursor: move;
position: relative;
}

div.icon.pk-drag .pk-b,
div.icon.pk-drag .pk-i
{
height: 20px;
width: 20px;
float: left;
display: block;
}

div.icon.pk-drag:hover .pk-b
{
background-color: #888;
}

a.icon.pk-arrow-up .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-arrow-up.png);
text-indent: -9999px;
padding: 0;
width: 20px;
}

a.icon.pk-arrow-down .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-arrow-down.png);
text-indent: -9999px;
padding: 0;
width: 20px;
}

a.icon.pk-arrow-left .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-arrow-left.png);
text-indent: -9999px;
padding: 0;
width: 20px;
}

a.icon.pk-arrow-right .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-arrow-right.png);
text-indent: -9999px;
padding: 0;
width: 20px;
}

a.icon.pk-arrow-left:hover .pk-b,
a.icon.pk-arrow-right:hover .pk-b
{
background-position: 0 -20px;
}

a.icon.pk-delete .pk-b
{
background-image: url(/pkToolkitPlugin/images/pk-icon-trash.png);
}

a.icon.pk-close .pk-b
{
background: transparent url(/pkToolkitPlugin/images/pk-icon-close.png) no-repeat scroll 0 0;
float: left;
height: 20px;
line-height: 20px;
overflow: hidden;
padding: 0;
text-indent: -9999px;
width: 20px;
}

a.icon.pk-close:hover .pk-b
{
background-position: bottom;
}

a.icon.icon-only .pk-b
{
text-indent: -9999px;
padding: 0;
width: 20px;
}

input.pk-submit
{/* Format ALL Submit Buttons */
	float: left;
position: relative;
height: 20px;
border: 0;
background: none transparent;
color: #fff;
font: 12px/1 arial, sans-serif;
padding: 2px;
z-index: 2;
width: auto !important;
/*	background-color:#666;*/
}

input.pk-submit:hover
{
background-color: #999;
cursor: pointer;
}

.pk-chad
{
position: absolute;
z-index: 2;
top: -13px;
display: block;
background: url(/pkToolkitPlugin/images/pk-icon-page-settings-arrow.png) top left no-repeat;
width: 20px;
height: 13px;
}

.pk-spinner
{
float: left;
display: inline;
clear: none;
height: 20px;
width: 20px;
border: 0;
margin: 0;
padding: 0;
background: url(/pkToolkitPlugin/images/pk-icon-loader-ani.gif) center center no-repeat;
text-indent: -9999px;
}
